* text=auto !eol
de.xwic.cube.webui.samples/.classpath -text
de.xwic.cube.webui.samples/.project -text
de.xwic.cube.webui.samples/src/de/xwic/cube/webui/samples/demo1/DemoApplication1.java -text
de.xwic.cube.webui.samples/src/de/xwic/cube/webui/samples/demo1/DemoApplication1.vtl -text
de.xwic.cube.webui/.classpath -text
de.xwic.cube.webui/.project -text
de.xwic.cube.webui/changes.txt -text
de.xwic.cube.webui/src/de/xwic/cube/webui/controls/DimensionSelectorControl.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/controls/LeafDimensionSelectorControl.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/controls/LeafDimensionSelectorControl.vtl -text
de.xwic.cube.webui/src/de/xwic/cube/webui/util/TableCell.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/util/TableRenderer.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/ContentInfo.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/CubeFilter.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/CubeFilter.vtl -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/CubeViewer.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/CubeViewerModel.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/CubeViewerModelAdapter.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/CubeViewerModelEvent.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/CubeWriter.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/CubeWriter.vtl -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/CustomNavigationProvider.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/DefaultDimensionDataProvider.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/DimensionNavigationProvider.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/DimensionSelectorControl.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/ICubeDataProvider.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/ICubeViewerModelListener.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/IDimensionFilter.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/INavigationElement.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/INavigationElementProvider.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/INavigationProvider.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/NavigationSize.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/TotalNavigationProvider.java -text
de.xwic.cube.webui/web/xwiccube/images/Thumbs.db -text
de.xwic.cube.webui/web/xwiccube/images/action_back.gif -text
de.xwic.cube.webui/web/xwiccube/images/action_forward.gif -text
de.xwic.cube.webui/web/xwiccube/images/collapse.png -text
de.xwic.cube.webui/web/xwiccube/images/expand.png -text
de.xwic.cube.webui/web/xwiccube/images/left_a.gif -text
de.xwic.cube.webui/web/xwiccube/images/left_i.gif -text
de.xwic.cube.webui/web/xwiccube/images/resultset_next.gif -text
de.xwic.cube.webui/web/xwiccube/images/resultset_next.png -text
de.xwic.cube.webui/web/xwiccube/images/resultset_next_dis.gif -text
de.xwic.cube.webui/web/xwiccube/images/resultset_previous.gif -text
de.xwic.cube.webui/web/xwiccube/images/resultset_previous.png -text
de.xwic.cube.webui/web/xwiccube/images/resultset_previous_dis.gif -text
de.xwic.cube.webui/web/xwiccube/images/right_a.gif -text
de.xwic.cube.webui/web/xwiccube/images/right_i.gif -text
de.xwic.cube.webui/web/xwiccube/xwiccube.css -text
de.xwic.cube/.classpath -text
de.xwic.cube/.cvsignore -text
de.xwic.cube/.project -text
de.xwic.cube/.settings/org.eclipse.jdt.ui.prefs -text
de.xwic.cube/changes.txt -text
de.xwic.cube/src/de/xwic/cube/DataPoolManagerFactory.java -text
de.xwic.cube/src/de/xwic/cube/ICell.java -text
de.xwic.cube/src/de/xwic/cube/ICube.java -text
de.xwic.cube/src/de/xwic/cube/IDataPool.java -text
de.xwic.cube/src/de/xwic/cube/IDataPoolManager.java -text
de.xwic.cube/src/de/xwic/cube/IDataPoolStorageProvider.java -text
de.xwic.cube/src/de/xwic/cube/IDimension.java -text
de.xwic.cube/src/de/xwic/cube/IDimensionElement.java -text
de.xwic.cube/src/de/xwic/cube/IIdentifyable.java -text
de.xwic.cube/src/de/xwic/cube/IMeasure.java -text
de.xwic.cube/src/de/xwic/cube/IMeasureFunction.java -text
de.xwic.cube/src/de/xwic/cube/IValueFormat.java -text
de.xwic.cube/src/de/xwic/cube/IValueFormatProvider.java -text
de.xwic.cube/src/de/xwic/cube/Key.java -text
de.xwic.cube/src/de/xwic/cube/StorageException.java -text
de.xwic.cube/src/de/xwic/cube/formatter/DefaultValueFormat.java -text
de.xwic.cube/src/de/xwic/cube/formatter/DefaultValueFormatProvider.java -text
de.xwic.cube/src/de/xwic/cube/formatter/PercentageValueFormat.java -text
de.xwic.cube/src/de/xwic/cube/formatter/PercentageValueFormatProvider.java -text
de.xwic.cube/src/de/xwic/cube/functions/DifferenceFunction.java -text
de.xwic.cube/src/de/xwic/cube/impl/Cell.java -text
de.xwic.cube/src/de/xwic/cube/impl/Cube.java -text
de.xwic.cube/src/de/xwic/cube/impl/DataPool.java -text
de.xwic.cube/src/de/xwic/cube/impl/DataPoolManager.java -text
de.xwic.cube/src/de/xwic/cube/impl/Dimension.java -text
de.xwic.cube/src/de/xwic/cube/impl/DimensionElement.java -text
de.xwic.cube/src/de/xwic/cube/impl/Identifyable.java -text
de.xwic.cube/src/de/xwic/cube/impl/Measure.java -text
de.xwic.cube/src/de/xwic/cube/storage/impl/FileDataPoolStorageProvider.java -text
de.xwic.cube/src/de/xwic/cube/util/DataDump.java -text
de.xwic.cube/src_test/de/xwic/cube/CubeTest.java -text
de.xwic.cube/src_test/de/xwic/cube/DataPoolManagerTest.java -text
de.xwic.cube/src_test/de/xwic/cube/Demo.java -text
de.xwic.cube/src_test/de/xwic/cube/SizeOptimizationTest.java -text
de.xwic.etlgine/.classpath -text
de.xwic.etlgine/.project -text
de.xwic.etlgine/.settings/org.eclipse.jdt.ui.prefs -text
de.xwic.etlgine/lib/opencsv-1.8.jar -text
de.xwic.etlgine/scripts/test.groovy -text
de.xwic.etlgine/src/de/xwic/etlgine/DefaultMonitor.java -text
de.xwic.etlgine/src/de/xwic/etlgine/ETLException.java -text
de.xwic.etlgine/src/de/xwic/etlgine/ETLgine.java -text
de.xwic.etlgine/src/de/xwic/etlgine/IColumn.java -text
de.xwic.etlgine/src/de/xwic/etlgine/IDataSet.java -text
de.xwic.etlgine/src/de/xwic/etlgine/IETLContext.java -text
de.xwic.etlgine/src/de/xwic/etlgine/IETLProcess.java -text
de.xwic.etlgine/src/de/xwic/etlgine/IETLProcessParticipant.java -text
de.xwic.etlgine/src/de/xwic/etlgine/IExtractor.java -text
de.xwic.etlgine/src/de/xwic/etlgine/ILoader.java -text
de.xwic.etlgine/src/de/xwic/etlgine/IMonitor.java -text
de.xwic.etlgine/src/de/xwic/etlgine/IRecord.java -text
de.xwic.etlgine/src/de/xwic/etlgine/ISource.java -text
de.xwic.etlgine/src/de/xwic/etlgine/ITransformer.java -text
de.xwic.etlgine/src/de/xwic/etlgine/extractor/CSVExtractor.java -text
de.xwic.etlgine/src/de/xwic/etlgine/impl/AbstractExtractor.java -text
de.xwic.etlgine/src/de/xwic/etlgine/impl/AbstractLoader.java -text
de.xwic.etlgine/src/de/xwic/etlgine/impl/AbstractTransformer.java -text
de.xwic.etlgine/src/de/xwic/etlgine/impl/Column.java -text
de.xwic.etlgine/src/de/xwic/etlgine/impl/Context.java -text
de.xwic.etlgine/src/de/xwic/etlgine/impl/DataSet.java -text
de.xwic.etlgine/src/de/xwic/etlgine/impl/ETLProcess.java -text
de.xwic.etlgine/src/de/xwic/etlgine/impl/Record.java -text
de.xwic.etlgine/src/de/xwic/etlgine/loader/CSVLoader.java -text
de.xwic.etlgine/src/de/xwic/etlgine/sources/FileSource.java -text
de.xwic.etlgine/src_test/de/xwic/etlgine/ProcessTest.java -text
de.xwic.etlgine/test/export.csv -text
de.xwic.etlgine/test/export2.csv -text
de.xwic.etlgine/test/export3.csv -text
de.xwic.etlgine/test/source.csv -text
