# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
.logs/
.target/
.target-mvn/
target/
target-ide/
.deploy/

# Project specific
*/bin/*
*_TRY.jrxml
*.jasper
*.log*
*.datapool
*server.override.properties
de.xwic.etlgine.server/data/etlgine_demo.db3*
de.xwic.etlgine.core/test/etlgine_test.db3*
de.xwic.etlgine.core/test/export2.csv
