* text=auto !eol
de.xwic.cube.webui.samples/.classpath -text
de.xwic.cube.webui.samples/.project -text
de.xwic.cube.webui.samples/jetty/jetty.xml -text
de.xwic.cube.webui.samples/jetty/webdefault.xml -text
de.xwic.cube.webui.samples/src/de/xwic/cube/webui/samples/demo1/DemoApplication1.java -text
de.xwic.cube.webui.samples/src/de/xwic/cube/webui/samples/demo1/DemoApplication1.vtl -text
de.xwic.cube.webui.samples/web_root/WEB-INF/jwic-setup.xml -text
de.xwic.cube.webui.samples/web_root/WEB-INF/jwic/ctrl_vtls/info.txt -text
de.xwic.cube.webui.samples/web_root/WEB-INF/jwic/jsp/de.jwic.tutorial.jsp.SomeControl.jsp -text
de.xwic.cube.webui.samples/web_root/WEB-INF/jwic/jsp/jwic.jsp -text
de.xwic.cube.webui.samples/web_root/WEB-INF/jwic/pages/jwic.ajax.page -text
de.xwic.cube.webui.samples/web_root/WEB-INF/jwic/pages/jwic_error.page -text
de.xwic.cube.webui.samples/web_root/WEB-INF/jwic/velocity.WebEngine.properties -text
de.xwic.cube.webui.samples/web_root/WEB-INF/log4j.properties -text
de.xwic.cube.webui.samples/web_root/WEB-INF/web.xml -text
de.xwic.cube.webui.samples/web_root/jwic/blank.html -text
de.xwic.cube.webui.samples/web_root/jwic/calendar/Thumbs.db -text
de.xwic.cube.webui.samples/web_root/jwic/calendar/calendar.gif -text
de.xwic.cube.webui.samples/web_root/jwic/calendar/calendar_DE.js -text
de.xwic.cube.webui.samples/web_root/jwic/calendar/calendar_EN.js -text
de.xwic.cube.webui.samples/web_root/jwic/calendar/close.gif -text
de.xwic.cube.webui.samples/web_root/jwic/calendar/divider.gif -text
de.xwic.cube.webui.samples/web_root/jwic/calendar/drop1.gif -text
de.xwic.cube.webui.samples/web_root/jwic/calendar/drop2.gif -text
de.xwic.cube.webui.samples/web_root/jwic/calendar/left1.gif -text
de.xwic.cube.webui.samples/web_root/jwic/calendar/left2.gif -text
de.xwic.cube.webui.samples/web_root/jwic/calendar/right1.gif -text
de.xwic.cube.webui.samples/web_root/jwic/calendar/right2.gif -text
de.xwic.cube.webui.samples/web_root/jwic/ddatalist/ddatalist.js -text
de.xwic.cube.webui.samples/web_root/jwic/gfx/Thumbs.db -text
de.xwic.cube.webui.samples/web_root/jwic/gfx/abort.gif -text
de.xwic.cube.webui.samples/web_root/jwic/gfx/barline_h.gif -text
de.xwic.cube.webui.samples/web_root/jwic/gfx/clear.gif -text
de.xwic.cube.webui.samples/web_root/jwic/gfx/close.gif -text
de.xwic.cube.webui.samples/web_root/jwic/gfx/grp_bl.png -text
de.xwic.cube.webui.samples/web_root/jwic/gfx/grp_br.png -text
de.xwic.cube.webui.samples/web_root/jwic/gfx/grp_hor.png -text
de.xwic.cube.webui.samples/web_root/jwic/gfx/grp_tl.png -text
de.xwic.cube.webui.samples/web_root/jwic/gfx/grp_tr.png -text
de.xwic.cube.webui.samples/web_root/jwic/gfx/grp_vl.png -text
de.xwic.cube.webui.samples/web_root/jwic/gfx/grp_vr.png -text
de.xwic.cube.webui.samples/web_root/jwic/gfx/hourglas.gif -text
de.xwic.cube.webui.samples/web_root/jwic/gfx/loading.gif -text
de.xwic.cube.webui.samples/web_root/jwic/jwic.css -text
de.xwic.cube.webui.samples/web_root/jwic/jwic.js -text
de.xwic.cube.webui.samples/web_root/jwic/jwic.page.body -text
de.xwic.cube.webui.samples/web_root/jwic/jwic.page.debug -text
de.xwic.cube.webui.samples/web_root/jwic/jwic.page.footer -text
de.xwic.cube.webui.samples/web_root/jwic/jwic.page.header -text
de.xwic.cube.webui.samples/web_root/jwic/jwic_browser.js -text
de.xwic.cube.webui.samples/web_root/jwic/pleaseWait.css -text
de.xwic.cube.webui.samples/web_root/jwic/scrollbar/Thumbs.db -text
de.xwic.cube.webui.samples/web_root/jwic/scrollbar/down_fast_a.gif -text
de.xwic.cube.webui.samples/web_root/jwic/scrollbar/down_fast_i.gif -text
de.xwic.cube.webui.samples/web_root/jwic/scrollbar/down_slow_a.gif -text
de.xwic.cube.webui.samples/web_root/jwic/scrollbar/down_slow_i.gif -text
de.xwic.cube.webui.samples/web_root/jwic/scrollbar/left_a.gif -text
de.xwic.cube.webui.samples/web_root/jwic/scrollbar/left_i.gif -text
de.xwic.cube.webui.samples/web_root/jwic/scrollbar/left_slow_a.gif -text
de.xwic.cube.webui.samples/web_root/jwic/scrollbar/left_slow_i.gif -text
de.xwic.cube.webui.samples/web_root/jwic/scrollbar/right_a.gif -text
de.xwic.cube.webui.samples/web_root/jwic/scrollbar/right_i.gif -text
de.xwic.cube.webui.samples/web_root/jwic/scrollbar/right_slow_a.gif -text
de.xwic.cube.webui.samples/web_root/jwic/scrollbar/right_slow_i.gif -text
de.xwic.cube.webui.samples/web_root/jwic/scrollbar/scrollbar.js -text
de.xwic.cube.webui.samples/web_root/jwic/scrollbar/up_fast_a.gif -text
de.xwic.cube.webui.samples/web_root/jwic/scrollbar/up_fast_i.gif -text
de.xwic.cube.webui.samples/web_root/jwic/scrollbar/up_slow_a.gif -text
de.xwic.cube.webui.samples/web_root/jwic/scrollbar/up_slow_i.gif -text
de.xwic.cube.webui.samples/web_root/jwic/tabstrip/ecke.gif -text
de.xwic.cube.webui.samples/web_root/jwic/tabstrip/ecke_i.gif -text
de.xwic.cube.webui.samples/web_root/jwic/tree/I.png -text
de.xwic.cube.webui.samples/web_root/jwic/tree/L.png -text
de.xwic.cube.webui.samples/web_root/jwic/tree/Lminus.png -text
de.xwic.cube.webui.samples/web_root/jwic/tree/Lplus.png -text
de.xwic.cube.webui.samples/web_root/jwic/tree/T.png -text
de.xwic.cube.webui.samples/web_root/jwic/tree/Tminus.png -text
de.xwic.cube.webui.samples/web_root/jwic/tree/Tplus.png -text
de.xwic.cube.webui.samples/web_root/jwic/tree/blank.png -text
de.xwic.cube.webui.samples/web_root/jwic/tree/file.png -text
de.xwic.cube.webui.samples/web_root/jwic/tree/foldericon.png -text
de.xwic.cube.webui.samples/web_root/jwic/tree/openfoldericon.png -text
de.xwic.cube.webui.samples/web_root/jwic/window/win_bar.gif -text
de.xwic.cube.webui.samples/web_root/jwic/window/win_ecke.gif -text
de.xwic.cube.webui.samples/web_root/sample/byebye.html -text
de.xwic.cube.webui.samples/web_root/sample/demo1.xwic.xml -text
de.xwic.cube.webui.samples/web_root/sample/gfx/grp_bl.png -text
de.xwic.cube.webui.samples/web_root/sample/gfx/grp_br.png -text
de.xwic.cube.webui.samples/web_root/sample/gfx/grp_hor.png -text
de.xwic.cube.webui.samples/web_root/sample/gfx/grp_tl.png -text
de.xwic.cube.webui.samples/web_root/sample/gfx/grp_tr.png -text
de.xwic.cube.webui.samples/web_root/sample/gfx/grp_vl.png -text
de.xwic.cube.webui.samples/web_root/sample/gfx/grp_vr.png -text
de.xwic.cube.webui.samples/web_root/sample/icons/jlogo32.gif -text
de.xwic.cube.webui.samples/web_root/sample/icons/light.gif -text
de.xwic.cube.webui.samples/web_root/sample/index.html -text
de.xwic.cube.webui.samples/web_root/sample/jwic.page -text
de.xwic.cube.webui.samples/web_root/sample/jwic_layer.page -text
de.xwic.cube.webui.samples/web_root/sample/sample.css -text
de.xwic.cube.webui.samples/web_root/test.html -text
de.xwic.cube.webui.samples/web_root/xwiccube/images/Thumbs.db -text
de.xwic.cube.webui.samples/web_root/xwiccube/images/action_back.gif -text
de.xwic.cube.webui.samples/web_root/xwiccube/images/action_forward.gif -text
de.xwic.cube.webui.samples/web_root/xwiccube/images/collapse.png -text
de.xwic.cube.webui.samples/web_root/xwiccube/images/expand.png -text
de.xwic.cube.webui.samples/web_root/xwiccube/images/left_a.gif -text
de.xwic.cube.webui.samples/web_root/xwiccube/images/left_i.gif -text
de.xwic.cube.webui.samples/web_root/xwiccube/images/resultset_next.gif -text
de.xwic.cube.webui.samples/web_root/xwiccube/images/resultset_next.png -text
de.xwic.cube.webui.samples/web_root/xwiccube/images/resultset_next_dis.gif -text
de.xwic.cube.webui.samples/web_root/xwiccube/images/resultset_previous.gif -text
de.xwic.cube.webui.samples/web_root/xwiccube/images/resultset_previous.png -text
de.xwic.cube.webui.samples/web_root/xwiccube/images/resultset_previous_dis.gif -text
de.xwic.cube.webui.samples/web_root/xwiccube/images/right_a.gif -text
de.xwic.cube.webui.samples/web_root/xwiccube/images/right_i.gif -text
de.xwic.cube.webui.samples/web_root/xwiccube/xwiccube.css -text
de.xwic.cube.webui.samples/web_root/xwiccube/xwiccube.js -text
de.xwic.cube.webui/.classpath -text
de.xwic.cube.webui/.project -text
de.xwic.cube.webui/changes.txt -text
de.xwic.cube.webui/src/de/xwic/cube/webui/controls/DimensionSelectorControl.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/controls/LeafDimensionSelectorControl.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/controls/LeafDimensionSelectorControl.vtl -text
de.xwic.cube.webui/src/de/xwic/cube/webui/util/TableCell.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/util/TableRenderer.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/ContentInfo.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/CubeFilter.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/CubeFilter.vtl -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/CubeViewer.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/CubeViewerModel.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/CubeViewerModelAdapter.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/CubeViewerModelEvent.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/CubeWriter.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/CubeWriter.vtl -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/CustomNavigationProvider.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/DefaultDimensionDataProvider.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/DimensionNavigationProvider.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/DimensionSelectorControl.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/ICubeDataProvider.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/ICubeViewerModelListener.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/IDimensionFilter.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/INavigationElement.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/INavigationElementProvider.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/INavigationProvider.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/NavigationSize.java -text
de.xwic.cube.webui/src/de/xwic/cube/webui/viewer/TotalNavigationProvider.java -text
de.xwic.cube.webui/web/xwiccube/images/Thumbs.db -text
de.xwic.cube.webui/web/xwiccube/images/action_back.gif -text
de.xwic.cube.webui/web/xwiccube/images/action_forward.gif -text
de.xwic.cube.webui/web/xwiccube/images/collapse.png -text
de.xwic.cube.webui/web/xwiccube/images/expand.png -text
de.xwic.cube.webui/web/xwiccube/images/left_a.gif -text
de.xwic.cube.webui/web/xwiccube/images/left_i.gif -text
de.xwic.cube.webui/web/xwiccube/images/resultset_next.gif -text
de.xwic.cube.webui/web/xwiccube/images/resultset_next.png -text
de.xwic.cube.webui/web/xwiccube/images/resultset_next_dis.gif -text
de.xwic.cube.webui/web/xwiccube/images/resultset_previous.gif -text
de.xwic.cube.webui/web/xwiccube/images/resultset_previous.png -text
de.xwic.cube.webui/web/xwiccube/images/resultset_previous_dis.gif -text
de.xwic.cube.webui/web/xwiccube/images/right_a.gif -text
de.xwic.cube.webui/web/xwiccube/images/right_i.gif -text
de.xwic.cube.webui/web/xwiccube/xwiccube.css -text
de.xwic.cube.webui/web/xwiccube/xwiccube.js -text
de.xwic.cube/.classpath -text
de.xwic.cube/.cvsignore -text
de.xwic.cube/.project -text
de.xwic.cube/.settings/org.eclipse.jdt.ui.prefs -text
de.xwic.cube/changes.txt -text
de.xwic.cube/src/de/xwic/cube/DataPoolManagerFactory.java -text
de.xwic.cube/src/de/xwic/cube/ICell.java -text
de.xwic.cube/src/de/xwic/cube/ICube.java -text
de.xwic.cube/src/de/xwic/cube/IDataPool.java -text
de.xwic.cube/src/de/xwic/cube/IDataPoolManager.java -text
de.xwic.cube/src/de/xwic/cube/IDataPoolStorageProvider.java -text
de.xwic.cube/src/de/xwic/cube/IDimension.java -text
de.xwic.cube/src/de/xwic/cube/IDimensionElement.java -text
de.xwic.cube/src/de/xwic/cube/IIdentifyable.java -text
de.xwic.cube/src/de/xwic/cube/IMeasure.java -text
de.xwic.cube/src/de/xwic/cube/IMeasureFunction.java -text
de.xwic.cube/src/de/xwic/cube/IValueFormat.java -text
de.xwic.cube/src/de/xwic/cube/IValueFormatProvider.java -text
de.xwic.cube/src/de/xwic/cube/Key.java -text
de.xwic.cube/src/de/xwic/cube/StorageException.java -text
de.xwic.cube/src/de/xwic/cube/formatter/DefaultValueFormat.java -text
de.xwic.cube/src/de/xwic/cube/formatter/DefaultValueFormatProvider.java -text
de.xwic.cube/src/de/xwic/cube/formatter/PercentageValueFormat.java -text
de.xwic.cube/src/de/xwic/cube/formatter/PercentageValueFormatProvider.java -text
de.xwic.cube/src/de/xwic/cube/functions/DifferenceFunction.java -text
de.xwic.cube/src/de/xwic/cube/impl/Cell.java -text
de.xwic.cube/src/de/xwic/cube/impl/Cube.java -text
de.xwic.cube/src/de/xwic/cube/impl/DataPool.java -text
de.xwic.cube/src/de/xwic/cube/impl/DataPoolManager.java -text
de.xwic.cube/src/de/xwic/cube/impl/Dimension.java -text
de.xwic.cube/src/de/xwic/cube/impl/DimensionElement.java -text
de.xwic.cube/src/de/xwic/cube/impl/Identifyable.java -text
de.xwic.cube/src/de/xwic/cube/impl/Measure.java -text
de.xwic.cube/src/de/xwic/cube/storage/impl/FileDataPoolStorageProvider.java -text
de.xwic.cube/src/de/xwic/cube/util/DataDump.java -text
de.xwic.cube/src_test/de/xwic/cube/CubeTest.java -text
de.xwic.cube/src_test/de/xwic/cube/DataPoolManagerTest.java -text
de.xwic.cube/src_test/de/xwic/cube/Demo.java -text
de.xwic.cube/src_test/de/xwic/cube/SizeOptimizationTest.java -text
de.xwic.etlgine/.classpath -text
de.xwic.etlgine/.project -text
de.xwic.etlgine/.settings/org.eclipse.jdt.ui.prefs -text
de.xwic.etlgine/lib/groovy-all-1.5.7.jar -text
de.xwic.etlgine/lib/opencsv-1.8.jar -text
de.xwic.etlgine/scripts/test.groovy -text
de.xwic.etlgine/scripts/testcube.init.groovy -text
de.xwic.etlgine/scripts/testcube.mapping.groovy -text
de.xwic.etlgine/src/de/xwic/etlgine/DefaultMonitor.java -text
de.xwic.etlgine/src/de/xwic/etlgine/ETLException.java -text
de.xwic.etlgine/src/de/xwic/etlgine/ETLgine.java -text
de.xwic.etlgine/src/de/xwic/etlgine/IColumn.java -text
de.xwic.etlgine/src/de/xwic/etlgine/IDataSet.java -text
de.xwic.etlgine/src/de/xwic/etlgine/IETLContext.java -text
de.xwic.etlgine/src/de/xwic/etlgine/IETLProcess.java -text
de.xwic.etlgine/src/de/xwic/etlgine/IETLProcessParticipant.java -text
de.xwic.etlgine/src/de/xwic/etlgine/IExtractor.java -text
de.xwic.etlgine/src/de/xwic/etlgine/ILoader.java -text
de.xwic.etlgine/src/de/xwic/etlgine/IMonitor.java -text
de.xwic.etlgine/src/de/xwic/etlgine/IRecord.java -text
de.xwic.etlgine/src/de/xwic/etlgine/ISource.java -text
de.xwic.etlgine/src/de/xwic/etlgine/ITransformer.java -text
de.xwic.etlgine/src/de/xwic/etlgine/extractor/CSVExtractor.java -text
de.xwic.etlgine/src/de/xwic/etlgine/impl/AbstractExtractor.java -text
de.xwic.etlgine/src/de/xwic/etlgine/impl/AbstractLoader.java -text
de.xwic.etlgine/src/de/xwic/etlgine/impl/AbstractTransformer.java -text
de.xwic.etlgine/src/de/xwic/etlgine/impl/Column.java -text
de.xwic.etlgine/src/de/xwic/etlgine/impl/DataSet.java -text
de.xwic.etlgine/src/de/xwic/etlgine/impl/ETLContext.java -text
de.xwic.etlgine/src/de/xwic/etlgine/impl/ETLProcess.java -text
de.xwic.etlgine/src/de/xwic/etlgine/impl/Record.java -text
de.xwic.etlgine/src/de/xwic/etlgine/loader/csv/CSVLoader.java -text
de.xwic.etlgine/src/de/xwic/etlgine/loader/cube/AbstractCubeDataMapper.java -text
de.xwic.etlgine/src/de/xwic/etlgine/loader/cube/CubeLoader.java -text
de.xwic.etlgine/src/de/xwic/etlgine/loader/cube/DataPoolInitializer.java -text
de.xwic.etlgine/src/de/xwic/etlgine/loader/cube/DimensionMapping.java -text
de.xwic.etlgine/src/de/xwic/etlgine/loader/cube/ElementMapping.java -text
de.xwic.etlgine/src/de/xwic/etlgine/loader/cube/ICubeDataMapper.java -text
de.xwic.etlgine/src/de/xwic/etlgine/loader/cube/IDataPoolProvider.java -text
de.xwic.etlgine/src/de/xwic/etlgine/loader/cube/MeasureMapping.java -text
de.xwic.etlgine/src/de/xwic/etlgine/loader/cube/ScriptedCubeDataMapper.java -text
de.xwic.etlgine/src/de/xwic/etlgine/sources/FileSource.java -text
de.xwic.etlgine/src_test/de/xwic/etlgine/CubeLoaderTest.java -text
de.xwic.etlgine/src_test/de/xwic/etlgine/ProcessTest.java -text
de.xwic.etlgine/test/export.csv -text
de.xwic.etlgine/test/export2.csv -text
de.xwic.etlgine/test/export3.csv -text
de.xwic.etlgine/test/source.csv -text
de.xwic.etlgine/test/source_cube.csv -text
external/libs.common.jwic/.classpath -text
external/libs.common.jwic/.project -text
external/libs.common.jwic/lib/commons-collections-2.1.jar -text
external/libs.common.jwic/lib/commons-lang-2.1.jar -text
external/libs.common.jwic/lib/commons-logging.jar -text
external/libs.common.jwic/lib/dom4j.jar -text
external/libs.common.jwic/lib/jwic.jar -text
external/libs.common.jwic/lib/log4j-1.2.8.jar -text
external/libs.common.jwic/lib/servlet-api-2.5-6.1.9.jar -text
external/libs.common.jwic/lib/spring-1.2.6.jar -text
external/libs.common.jwic/lib/velocity-1.4.jar -text
external/org.json/.classpath -text
external/org.json/.project -text
external/org.json/src/org/json/CDL.java -text
external/org.json/src/org/json/Cookie.java -text
external/org.json/src/org/json/CookieList.java -text
external/org.json/src/org/json/HTTP.java -text
external/org.json/src/org/json/HTTPTokener.java -text
external/org.json/src/org/json/JSONArray.java -text
external/org.json/src/org/json/JSONException.java -text
external/org.json/src/org/json/JSONML.java -text
external/org.json/src/org/json/JSONObject.java -text
external/org.json/src/org/json/JSONString.java -text
external/org.json/src/org/json/JSONStringer.java -text
external/org.json/src/org/json/JSONTokener.java -text
external/org.json/src/org/json/JSONWriter.java -text
external/org.json/src/org/json/Test.java -text
external/org.json/src/org/json/XML.java -text
external/org.json/src/org/json/XMLTokener.java -text
