* text=auto !eol
/.classpath -text
/.project -text
.settings/org.eclipse.jdt.ui.prefs -text
/build.xml -text
/changes.txt -text
lib/groovy-all-1.5.7.jar -text
lib/jscreen-1.0.jar -text
lib/jtds-1.2.2.jar -text
lib/opencsv-1.8.jar -text
lib/poi-3.1-FINAL-20080629.jar -text
lib/spring-1.2-api.jar -text
lib/swt.jar -text
scripts/TestRnd2JDBC.groovy -text
scripts/test.groovy -text
scripts/testcube.init.groovy -text
scripts/testcube.mapping.groovy -text
server/autostart.groovy -text
server/config/jetty.xml -text
server/config/log4j.properties -text
server/config/realm.properties -text
server/config/server.properties -text
server/config/webdefault.xml -text
server/doc/init_xcube_tables.sql -text
server/doc/updates.sql -text
server/jetty/jetty-6.1.9.jar -text
server/jetty/jetty-util-6.1.9.jar -text
server/jetty/servlet-api-2.5-6.1.9.jar -text
server/jetty/start.jar -text
server/jobs/Testjob.groovy -text
server/jobs/Testjob/DummyProcess.groovy -text
server/jobs/Testjob/DummyProcessChain.groovy -text
server/jobs/Testjob_error.groovy -text
server/run.bat -text
server/setcp.bat -text
server/web/WEB-INF/jwic-setup.xml -text
server/web/WEB-INF/jwic/ctrl_vtls/info.txt -text
server/web/WEB-INF/jwic/jsp/de.jwic.tutorial.jsp.SomeControl.jsp -text
server/web/WEB-INF/jwic/jsp/jwic.jsp -text
server/web/WEB-INF/jwic/pages/jwic.ajax.page -text
server/web/WEB-INF/jwic/pages/jwic_error.page -text
server/web/WEB-INF/jwic/velocity.WebEngine.properties -text
server/web/WEB-INF/web.xml -text
server/web/admin.xwic.xml -text
server/web/byebye.html -text
server/web/ecolib/Thumbs.db -text
server/web/ecolib/balloon/Thumbs.db -text
server/web/ecolib/balloon/balloon.css -text
server/web/ecolib/balloon/balloon.js -text
server/web/ecolib/balloon/default_b_c.gif -text
server/web/ecolib/balloon/default_b_tl.gif -text
server/web/ecolib/balloon/default_b_tr.gif -text
server/web/ecolib/balloon/default_bl_bl.gif -text
server/web/ecolib/balloon/default_bl_br.gif -text
server/web/ecolib/balloon/default_br_br.gif -text
server/web/ecolib/balloon/default_cr.gif -text
server/web/ecolib/balloon/default_dott.gif -text
server/web/ecolib/balloon/default_t_bl.gif -text
server/web/ecolib/balloon/default_t_c.gif -text
server/web/ecolib/balloon/default_tl_tl.gif -text
server/web/ecolib/balloon/default_tr_tr.gif -text
server/web/ecolib/ecolib.css -text
server/web/ecolib/ecolib.page.header -text
server/web/ecolib/history/blank.html -text
server/web/ecolib/history/dhtmlHistory.js -text
server/web/ecolib/info_large.gif -text
server/web/ecolib/pwc/MIT-LICENSE -text
server/web/ecolib/pwc/debug.js -text
server/web/ecolib/pwc/effects.js -text
server/web/ecolib/pwc/extended_debug.js -text
server/web/ecolib/pwc/prototype.js -text
server/web/ecolib/pwc/themes/alert.css -text
server/web/ecolib/pwc/themes/alert/bottom.gif -text
server/web/ecolib/pwc/themes/alert/bottom_left.gif -text
server/web/ecolib/pwc/themes/alert/bottom_right.gif -text
server/web/ecolib/pwc/themes/alert/left.gif -text
server/web/ecolib/pwc/themes/alert/overlay.png -text
server/web/ecolib/pwc/themes/alert/progress.gif -text
server/web/ecolib/pwc/themes/alert/right.gif -text
server/web/ecolib/pwc/themes/alert/top.gif -text
server/web/ecolib/pwc/themes/alert/top_left.gif -text
server/web/ecolib/pwc/themes/alert/top_right.gif -text
server/web/ecolib/pwc/themes/alert_lite.css -text
server/web/ecolib/pwc/themes/alphacube.css -text
server/web/ecolib/pwc/themes/alphacube/bottom-left-c.gif -text
server/web/ecolib/pwc/themes/alphacube/bottom-middle.gif -text
server/web/ecolib/pwc/themes/alphacube/bottom-right-c.gif -text
server/web/ecolib/pwc/themes/alphacube/button-close-focus.gif -text
server/web/ecolib/pwc/themes/alphacube/button-max-focus.gif -text
server/web/ecolib/pwc/themes/alphacube/button-min-focus.gif -text
server/web/ecolib/pwc/themes/alphacube/frame-left.gif -text
server/web/ecolib/pwc/themes/alphacube/frame-right.gif -text
server/web/ecolib/pwc/themes/alphacube/left-top.gif -text
server/web/ecolib/pwc/themes/alphacube/right-top.gif -text
server/web/ecolib/pwc/themes/alphacube/top-middle.gif -text
server/web/ecolib/pwc/themes/behavior.htc -text
server/web/ecolib/pwc/themes/darkX.css -text
server/web/ecolib/pwc/themes/darkX/button-close-focused.png -text
server/web/ecolib/pwc/themes/darkX/button-maximize-focused.png -text
server/web/ecolib/pwc/themes/darkX/button-minimize-focused.png -text
server/web/ecolib/pwc/themes/darkX/frame-bottom-left-focused.png -text
server/web/ecolib/pwc/themes/darkX/frame-bottom-mid-focused.png -text
server/web/ecolib/pwc/themes/darkX/frame-bottom-right-focused.png -text
server/web/ecolib/pwc/themes/darkX/frame-left-focused.png -text
server/web/ecolib/pwc/themes/darkX/frame-right-focused.png -text
server/web/ecolib/pwc/themes/darkX/titlebar-left-focused.png -text
server/web/ecolib/pwc/themes/darkX/titlebar-mid-focused.png -text
server/web/ecolib/pwc/themes/darkX/titlebar-right-focused.png -text
server/web/ecolib/pwc/themes/debug.css -text
server/web/ecolib/pwc/themes/default.css -text
server/web/ecolib/pwc/themes/default/bottom_left.gif -text
server/web/ecolib/pwc/themes/default/bottom_mid.gif -text
server/web/ecolib/pwc/themes/default/bottom_right.gif -text
server/web/ecolib/pwc/themes/default/bottom_right_resize.gif -text
server/web/ecolib/pwc/themes/default/center_left.gif -text
server/web/ecolib/pwc/themes/default/center_right.gif -text
server/web/ecolib/pwc/themes/default/clear.gif -text
server/web/ecolib/pwc/themes/default/close.gif -text
server/web/ecolib/pwc/themes/default/inspect.gif -text
server/web/ecolib/pwc/themes/default/maximize.gif -text
server/web/ecolib/pwc/themes/default/minimize.gif -text
server/web/ecolib/pwc/themes/default/overlay.png -text
server/web/ecolib/pwc/themes/default/resize.gif -text
server/web/ecolib/pwc/themes/default/sizer.gif -text
server/web/ecolib/pwc/themes/default/top_left.gif -text
server/web/ecolib/pwc/themes/default/top_mid.gif -text
server/web/ecolib/pwc/themes/default/top_right.gif -text
server/web/ecolib/pwc/themes/iefix/blank.gif -text
server/web/ecolib/pwc/themes/iefix/iepngfix.css -text
server/web/ecolib/pwc/themes/iefix/iepngfix.htc -text
server/web/ecolib/pwc/themes/lighting.css -text
server/web/ecolib/pwc/themes/lighting/background_buttons.gif -text
server/web/ecolib/pwc/themes/lighting/bottom-left-blue.png -text
server/web/ecolib/pwc/themes/lighting/bottom-left-darkblue.png -text
server/web/ecolib/pwc/themes/lighting/bottom-left-green.png -text
server/web/ecolib/pwc/themes/lighting/bottom-left-grey.png -text
server/web/ecolib/pwc/themes/lighting/bottom-middle-blue.png -text
server/web/ecolib/pwc/themes/lighting/bottom-middle-darkblue.png -text
server/web/ecolib/pwc/themes/lighting/bottom-middle-green.png -text
server/web/ecolib/pwc/themes/lighting/bottom-middle-grey.png -text
server/web/ecolib/pwc/themes/lighting/bottom-right-blue.png -text
server/web/ecolib/pwc/themes/lighting/bottom-right-darkblue.png -text
server/web/ecolib/pwc/themes/lighting/bottom-right-green.png -text
server/web/ecolib/pwc/themes/lighting/bottom-right-grey.png -text
server/web/ecolib/pwc/themes/lighting/button-close-blue.png -text
server/web/ecolib/pwc/themes/lighting/button-close-darkblue.png -text
server/web/ecolib/pwc/themes/lighting/button-close-green.png -text
server/web/ecolib/pwc/themes/lighting/button-close-grey.png -text
server/web/ecolib/pwc/themes/lighting/button-maximize-blue.png -text
server/web/ecolib/pwc/themes/lighting/button-maximize-darkblue.png -text
server/web/ecolib/pwc/themes/lighting/button-maximize-green.png -text
server/web/ecolib/pwc/themes/lighting/button-maximize-grey.png -text
server/web/ecolib/pwc/themes/lighting/button-minimize-blue.png -text
server/web/ecolib/pwc/themes/lighting/button-minimize-darkblue.png -text
server/web/ecolib/pwc/themes/lighting/button-minimize-green.png -text
server/web/ecolib/pwc/themes/lighting/button-minimize-grey.png -text
server/web/ecolib/pwc/themes/lighting/left-blue.png -text
server/web/ecolib/pwc/themes/lighting/left-darkblue.png -text
server/web/ecolib/pwc/themes/lighting/left-green.png -text
server/web/ecolib/pwc/themes/lighting/left-grey.png -text
server/web/ecolib/pwc/themes/lighting/pngbehavior.htc -text
server/web/ecolib/pwc/themes/lighting/right-blue.png -text
server/web/ecolib/pwc/themes/lighting/right-darkblue.png -text
server/web/ecolib/pwc/themes/lighting/right-green.png -text
server/web/ecolib/pwc/themes/lighting/right-grey.png -text
server/web/ecolib/pwc/themes/lighting/spinner.gif -text
server/web/ecolib/pwc/themes/lighting/top-left-blue.png -text
server/web/ecolib/pwc/themes/lighting/top-left-darkblue.png -text
server/web/ecolib/pwc/themes/lighting/top-left-green.png -text
server/web/ecolib/pwc/themes/lighting/top-left-grey.png -text
server/web/ecolib/pwc/themes/lighting/top-middle-blue.png -text
server/web/ecolib/pwc/themes/lighting/top-middle-darkblue.png -text
server/web/ecolib/pwc/themes/lighting/top-middle-green.png -text
server/web/ecolib/pwc/themes/lighting/top-middle-grey.png -text
server/web/ecolib/pwc/themes/lighting/top-right-blue.png -text
server/web/ecolib/pwc/themes/lighting/top-right-darkblue.png -text
server/web/ecolib/pwc/themes/lighting/top-right-green.png -text
server/web/ecolib/pwc/themes/lighting/top-right-grey.png -text
server/web/ecolib/pwc/themes/mac_os_x.css -text
server/web/ecolib/pwc/themes/mac_os_x/B.png -text
server/web/ecolib/pwc/themes/mac_os_x/BL.png -text
server/web/ecolib/pwc/themes/mac_os_x/BL_Main.png -text
server/web/ecolib/pwc/themes/mac_os_x/BR.png -text
server/web/ecolib/pwc/themes/mac_os_x/BR_Main.png -text
server/web/ecolib/pwc/themes/mac_os_x/B_Main.png -text
server/web/ecolib/pwc/themes/mac_os_x/L.png -text
server/web/ecolib/pwc/themes/mac_os_x/L_Main.png -text
server/web/ecolib/pwc/themes/mac_os_x/R.png -text
server/web/ecolib/pwc/themes/mac_os_x/R_Main.png -text
server/web/ecolib/pwc/themes/mac_os_x/T.png -text
server/web/ecolib/pwc/themes/mac_os_x/TL.png -text
server/web/ecolib/pwc/themes/mac_os_x/TL_Main.png -text
server/web/ecolib/pwc/themes/mac_os_x/TR.png -text
server/web/ecolib/pwc/themes/mac_os_x/TR_Main.png -text
server/web/ecolib/pwc/themes/mac_os_x/T_Main.png -text
server/web/ecolib/pwc/themes/mac_os_x/close.gif -text
server/web/ecolib/pwc/themes/mac_os_x/maximize.gif -text
server/web/ecolib/pwc/themes/mac_os_x/minimize.gif -text
server/web/ecolib/pwc/themes/mac_os_x_dialog.css -text
server/web/ecolib/pwc/themes/mac_os_x_dialog/B.png -text
server/web/ecolib/pwc/themes/mac_os_x_dialog/BL.png -text
server/web/ecolib/pwc/themes/mac_os_x_dialog/BR.png -text
server/web/ecolib/pwc/themes/mac_os_x_dialog/L.png -text
server/web/ecolib/pwc/themes/mac_os_x_dialog/R.png -text
server/web/ecolib/pwc/themes/mac_os_x_dialog/T.png -text
server/web/ecolib/pwc/themes/mac_os_x_dialog/TL.png -text
server/web/ecolib/pwc/themes/mac_os_x_dialog/TR.png -text
server/web/ecolib/pwc/themes/mac_os_x_dialog/bg.gif -text
server/web/ecolib/pwc/themes/mac_os_x_dialog/close.gif -text
server/web/ecolib/pwc/themes/mac_os_x_dialog/maximize.gif -text
server/web/ecolib/pwc/themes/mac_os_x_dialog/minimize.gif -text
server/web/ecolib/pwc/themes/nuncio.css -text
server/web/ecolib/pwc/themes/nuncio/bottom_left.png -text
server/web/ecolib/pwc/themes/nuncio/bottom_mid.png -text
server/web/ecolib/pwc/themes/nuncio/bottom_right.png -text
server/web/ecolib/pwc/themes/nuncio/center_left.png -text
server/web/ecolib/pwc/themes/nuncio/center_right.png -text
server/web/ecolib/pwc/themes/nuncio/close.png -text
server/web/ecolib/pwc/themes/nuncio/minimize.png -text
server/web/ecolib/pwc/themes/nuncio/overlay.png -text
server/web/ecolib/pwc/themes/nuncio/top_left.png -text
server/web/ecolib/pwc/themes/nuncio/top_mid.png -text
server/web/ecolib/pwc/themes/nuncio/top_right.png -text
server/web/ecolib/pwc/themes/spread.css -text
server/web/ecolib/pwc/themes/spread/.gif -text
server/web/ecolib/pwc/themes/spread/bottom-left-c.gif -text
server/web/ecolib/pwc/themes/spread/bottom-middle.gif -text
server/web/ecolib/pwc/themes/spread/bottom-right-c.gif -text
server/web/ecolib/pwc/themes/spread/button-close-focus.gif -text
server/web/ecolib/pwc/themes/spread/button-max-focus.gif -text
server/web/ecolib/pwc/themes/spread/button-min-focus.gif -text
server/web/ecolib/pwc/themes/spread/frame-left.gif -text
server/web/ecolib/pwc/themes/spread/frame-right.gif -text
server/web/ecolib/pwc/themes/spread/left-top.gif -text
server/web/ecolib/pwc/themes/spread/right-top.gif -text
server/web/ecolib/pwc/themes/spread/top-middle.gif -text
server/web/ecolib/pwc/tooltip.js -text
server/web/ecolib/pwc/visionswindows.js -text
server/web/ecolib/pwc/window.js -text
server/web/ecolib/pwc/window_adapter.js -text
server/web/ecolib/pwc/window_effects.js -text
server/web/ecolib/pwc/window_ext.js -text
server/web/ecolib/rsmenu/menu.css -text
server/web/ecolib/rsmenu/menu.js -text
server/web/ecolib/tblviewer/Thumbs.db -text
server/web/ecolib/tblviewer/clear.gif -text
server/web/ecolib/tblviewer/first.gif -text
server/web/ecolib/tblviewer/last.gif -text
server/web/ecolib/tblviewer/next.gif -text
server/web/ecolib/tblviewer/prev.gif -text
server/web/ecolib/tblviewer/resizer.gif -text
server/web/ecolib/tblviewer/sortdn.gif -text
server/web/ecolib/tblviewer/sortup.gif -text
server/web/ecolib/tblviewer/tblviewer.js -text
server/web/ecolib/tblviewer/tbviewer.css -text
server/web/ecolib/treeviewer/Thumbs.db -text
server/web/ecolib/treeviewer/collapse.png -text
server/web/ecolib/treeviewer/expand.png -text
server/web/ecolib/treeviewer/treeviewer.css -text
server/web/ecolib/treeviewer/treeviewer.js -text
server/web/etladmin.css -text
server/web/etladmin.js -text
server/web/img/Thumbs.db -text
server/web/img/add.png -text
server/web/img/application_go.png -text
server/web/img/arrow_refresh.png -text
server/web/img/backfade.png -text
server/web/img/bricks.png -text
server/web/img/control_pause.png -text
server/web/img/database.png -text
server/web/img/database_lightning.png -text
server/web/img/database_save.png -text
server/web/img/door_out.png -text
server/web/img/headerfade4.png -text
server/web/img/page_excel.png -text
server/web/img/pencil.png -text
server/web/img/report.png -text
server/web/img/sbfade.png -text
server/web/img/sbfade2.png -text
server/web/img/script.png -text
server/web/img/script_add.png -text
server/web/img/script_code_red.png -text
server/web/img/script_delete.png -text
server/web/img/script_edit.png -text
server/web/img/script_error.png -text
server/web/img/script_gear.png -text
server/web/img/script_go.png -text
server/web/img/script_lightning.png -text
server/web/img/table.png -text
server/web/img/table_add.png -text
server/web/img/table_delete.png -text
server/web/img/table_edit.png -text
server/web/img/table_relationship.png -text
server/web/img/table_save.png -text
server/web/img/timeline_marker.png -text
server/web/img/zoom.png -text
server/web/index.html -text
server/web/jwic.page -text
server/web/jwic/blank.html -text
server/web/jwic/calendar/Thumbs.db -text
server/web/jwic/calendar/calendar.gif -text
server/web/jwic/calendar/calendar_DE.js -text
server/web/jwic/calendar/calendar_EN.js -text
server/web/jwic/calendar/close.gif -text
server/web/jwic/calendar/divider.gif -text
server/web/jwic/calendar/drop1.gif -text
server/web/jwic/calendar/drop2.gif -text
server/web/jwic/calendar/left1.gif -text
server/web/jwic/calendar/left2.gif -text
server/web/jwic/calendar/right1.gif -text
server/web/jwic/calendar/right2.gif -text
server/web/jwic/ddatalist/ddatalist.js -text
server/web/jwic/gfx/Thumbs.db -text
server/web/jwic/gfx/abort.gif -text
server/web/jwic/gfx/barline_h.gif -text
server/web/jwic/gfx/clear.gif -text
server/web/jwic/gfx/close.gif -text
server/web/jwic/gfx/grp_bl.png -text
server/web/jwic/gfx/grp_br.png -text
server/web/jwic/gfx/grp_hor.png -text
server/web/jwic/gfx/grp_tl.png -text
server/web/jwic/gfx/grp_tr.png -text
server/web/jwic/gfx/grp_vl.png -text
server/web/jwic/gfx/grp_vr.png -text
server/web/jwic/gfx/hourglas.gif -text
server/web/jwic/gfx/loading.gif -text
server/web/jwic/jwic.css -text
server/web/jwic/jwic.js -text
server/web/jwic/jwic.page.body -text
server/web/jwic/jwic.page.debug -text
server/web/jwic/jwic.page.footer -text
server/web/jwic/jwic.page.header -text
server/web/jwic/jwic_browser.js -text
server/web/jwic/pleaseWait.css -text
server/web/jwic/scrollbar/Thumbs.db -text
server/web/jwic/scrollbar/down_fast_a.gif -text
server/web/jwic/scrollbar/down_fast_i.gif -text
server/web/jwic/scrollbar/down_slow_a.gif -text
server/web/jwic/scrollbar/down_slow_i.gif -text
server/web/jwic/scrollbar/left_a.gif -text
server/web/jwic/scrollbar/left_i.gif -text
server/web/jwic/scrollbar/left_slow_a.gif -text
server/web/jwic/scrollbar/left_slow_i.gif -text
server/web/jwic/scrollbar/right_a.gif -text
server/web/jwic/scrollbar/right_i.gif -text
server/web/jwic/scrollbar/right_slow_a.gif -text
server/web/jwic/scrollbar/right_slow_i.gif -text
server/web/jwic/scrollbar/scrollbar.js -text
server/web/jwic/scrollbar/up_fast_a.gif -text
server/web/jwic/scrollbar/up_fast_i.gif -text
server/web/jwic/scrollbar/up_slow_a.gif -text
server/web/jwic/scrollbar/up_slow_i.gif -text
server/web/jwic/tabstrip/Thumbs.db -text
server/web/jwic/tabstrip/ecke.gif -text
server/web/jwic/tabstrip/ecke_i.gif -text
server/web/jwic/tree/I.png -text
server/web/jwic/tree/L.png -text
server/web/jwic/tree/Lminus.png -text
server/web/jwic/tree/Lplus.png -text
server/web/jwic/tree/T.png -text
server/web/jwic/tree/Thumbs.db -text
server/web/jwic/tree/Tminus.png -text
server/web/jwic/tree/Tplus.png -text
server/web/jwic/tree/blank.png -text
server/web/jwic/tree/file.png -text
server/web/jwic/tree/foldericon.png -text
server/web/jwic/tree/openfoldericon.png -text
server/web/jwic/window/Thumbs.db -text
server/web/jwic/window/win_bar.gif -text
server/web/jwic/window/win_ecke.gif -text
server/web/jwic_layer.page -text
server/web/xwiccube/images/I.png -text
server/web/xwiccube/images/L.png -text
server/web/xwiccube/images/Lminus.png -text
server/web/xwiccube/images/Lplus.png -text
server/web/xwiccube/images/T.png -text
server/web/xwiccube/images/Thumbs.db -text
server/web/xwiccube/images/Tminus.png -text
server/web/xwiccube/images/Tplus.png -text
server/web/xwiccube/images/action_back.gif -text
server/web/xwiccube/images/action_forward.gif -text
server/web/xwiccube/images/blank.png -text
server/web/xwiccube/images/collapse.png -text
server/web/xwiccube/images/expand.png -text
server/web/xwiccube/images/left_a.gif -text
server/web/xwiccube/images/left_i.gif -text
server/web/xwiccube/images/resultset_next.gif -text
server/web/xwiccube/images/resultset_next.png -text
server/web/xwiccube/images/resultset_next_dis.gif -text
server/web/xwiccube/images/resultset_previous.gif -text
server/web/xwiccube/images/resultset_previous.png -text
server/web/xwiccube/images/resultset_previous_dis.gif -text
server/web/xwiccube/images/right_a.gif -text
server/web/xwiccube/images/right_i.gif -text
server/web/xwiccube/json2.js -text
server/web/xwiccube/xwiccube.css -text
server/web/xwiccube/xwiccube.js -text
server/xcube/ETLpoolInit.groovy -text
src/de/xwic/etlgine/AbstractExtractor.java -text
src/de/xwic/etlgine/AbstractLoader.java -text
src/de/xwic/etlgine/AbstractTransformer.java -text
src/de/xwic/etlgine/DefaultMonitor.java -text
src/de/xwic/etlgine/ETLException.java -text
src/de/xwic/etlgine/ETLgine.java -text
src/de/xwic/etlgine/IColumn.java -text
src/de/xwic/etlgine/IContext.java -text
src/de/xwic/etlgine/IDataSet.java -text
src/de/xwic/etlgine/IETLProcess.java -text
src/de/xwic/etlgine/IExtractor.java -text
src/de/xwic/etlgine/IGlobalContext.java -text
src/de/xwic/etlgine/IJob.java -text
src/de/xwic/etlgine/ILoader.java -text
src/de/xwic/etlgine/IMonitor.java -text
src/de/xwic/etlgine/IProcess.java -text
src/de/xwic/etlgine/IProcessChain.java -text
src/de/xwic/etlgine/IProcessContext.java -text
src/de/xwic/etlgine/IProcessFinalizer.java -text
src/de/xwic/etlgine/IProcessParticipant.java -text
src/de/xwic/etlgine/IRecord.java -text
src/de/xwic/etlgine/ISource.java -text
src/de/xwic/etlgine/ITransformer.java -text
src/de/xwic/etlgine/ITrigger.java -text
src/de/xwic/etlgine/Result.java -text
src/de/xwic/etlgine/cube/CubeExportUtil.java -text
src/de/xwic/etlgine/cube/CubeHandler.java -text
src/de/xwic/etlgine/cube/CubeImportUtil.java -text
src/de/xwic/etlgine/cube/DefaultCubeHandler.java -text
src/de/xwic/etlgine/cube/mapping/DimMapper.java -text
src/de/xwic/etlgine/cube/mapping/DimMappingDef.java -text
src/de/xwic/etlgine/cube/mapping/DimMappingDefDAO.java -text
src/de/xwic/etlgine/cube/mapping/DimMappingElementDef.java -text
src/de/xwic/etlgine/cube/mapping/DimMappingElementDefDAO.java -text
src/de/xwic/etlgine/extractor/CSVExtractor.java -text
src/de/xwic/etlgine/extractor/ICSVExtractorListener.java -text
src/de/xwic/etlgine/extractor/jdbc/JDBCExtractor.java -text
src/de/xwic/etlgine/extractor/jdbc/JDBCSource.java -text
src/de/xwic/etlgine/extractor/xls/XLSExtractor.java -text
src/de/xwic/etlgine/extractor/xls/XLSFileSource.java -text
src/de/xwic/etlgine/extractor/xls/XLSTool.java -text
src/de/xwic/etlgine/finalizer/CallURLFinalizer.java -text
src/de/xwic/etlgine/finalizer/MoveFileFinalizer.java -text
src/de/xwic/etlgine/finalizer/PublishCubeFinalizer.java -text
src/de/xwic/etlgine/impl/Column.java -text
src/de/xwic/etlgine/impl/Context.java -text
src/de/xwic/etlgine/impl/DataSet.java -text
src/de/xwic/etlgine/impl/ETLProcess.java -text
src/de/xwic/etlgine/impl/GlobalContext.java -text
src/de/xwic/etlgine/impl/Job.java -text
src/de/xwic/etlgine/impl/Process.java -text
src/de/xwic/etlgine/impl/ProcessChain.java -text
src/de/xwic/etlgine/impl/ProcessContext.java -text
src/de/xwic/etlgine/impl/PropertyFileContext.java -text
src/de/xwic/etlgine/impl/Record.java -text
src/de/xwic/etlgine/jdbc/DbColumnDef.java -text
src/de/xwic/etlgine/jdbc/JDBCUtil.java -text
src/de/xwic/etlgine/loader/csv/CSVLoader.java -text
src/de/xwic/etlgine/loader/cube/BaseCubeDataMapper.java -text
src/de/xwic/etlgine/loader/cube/CubeLoader.java -text
src/de/xwic/etlgine/loader/cube/DataPoolInitializer.java -text
src/de/xwic/etlgine/loader/cube/DataPoolInitializerUtil.java -text
src/de/xwic/etlgine/loader/cube/DimensionMapping.java -text
src/de/xwic/etlgine/loader/cube/DimensionMappingTransformer.java -text
src/de/xwic/etlgine/loader/cube/ElementMapping.java -text
src/de/xwic/etlgine/loader/cube/ICubeDataMapper.java -text
src/de/xwic/etlgine/loader/cube/IDataPoolProvider.java -text
src/de/xwic/etlgine/loader/cube/MeasureMapping.java -text
src/de/xwic/etlgine/loader/cube/NamedDataPoolProvider.java -text
src/de/xwic/etlgine/loader/cube/ScriptedCubeDataMapper.java -text
src/de/xwic/etlgine/loader/jdbc/JDBCLoader.java -text
src/de/xwic/etlgine/server/ETLgineConsole.java -text
src/de/xwic/etlgine/server/ETLgineServer.java -text
src/de/xwic/etlgine/server/IServerContextListener.java -text
src/de/xwic/etlgine/server/JobQueue.java -text
src/de/xwic/etlgine/server/Launch.java -text
src/de/xwic/etlgine/server/ScreenOutputStream.java -text
src/de/xwic/etlgine/server/ScreenPrintStream.java -text
src/de/xwic/etlgine/server/ServerContext.java -text
src/de/xwic/etlgine/server/ServerContextAdapter.java -text
src/de/xwic/etlgine/server/ServerContextEvent.java -text
src/de/xwic/etlgine/server/admin/AdminApplication.java -text
src/de/xwic/etlgine/server/admin/AdminPage.java -text
src/de/xwic/etlgine/server/admin/AdminPage.vtl -text
src/de/xwic/etlgine/server/admin/BaseContentContainer.java -text
src/de/xwic/etlgine/server/admin/BaseContentContainer.vtl -text
src/de/xwic/etlgine/server/admin/BreadCrumpControl.java -text
src/de/xwic/etlgine/server/admin/BreadCrumpControl.vtl -text
src/de/xwic/etlgine/server/admin/ImageLibrary.java -text
src/de/xwic/etlgine/server/admin/MainMenuControl.java -text
src/de/xwic/etlgine/server/admin/MainMenuControl.vtl -text
src/de/xwic/etlgine/server/admin/StackedContentContainer.java -text
src/de/xwic/etlgine/server/admin/StackedContentContainer.vtl -text
src/de/xwic/etlgine/server/admin/StatusControl.java -text
src/de/xwic/etlgine/server/admin/StatusControl.vtl -text
src/de/xwic/etlgine/server/admin/datapool/CubeDetailsControl.java -text
src/de/xwic/etlgine/server/admin/datapool/CubeDetailsControl.vtl -text
src/de/xwic/etlgine/server/admin/datapool/CubeDownloadControl.java -text
src/de/xwic/etlgine/server/admin/datapool/CubeDownloadControl.vtl -text
src/de/xwic/etlgine/server/admin/datapool/CubeImportControl.java -text
src/de/xwic/etlgine/server/admin/datapool/CubeImportControl.vtl -text
src/de/xwic/etlgine/server/admin/datapool/DPAdminControl.java -text
src/de/xwic/etlgine/server/admin/datapool/DPAdminControl.vtl -text
src/de/xwic/etlgine/server/admin/datapool/DPDetailsControl.java -text
src/de/xwic/etlgine/server/admin/datapool/DPDetailsControl.vtl -text
src/de/xwic/etlgine/server/admin/datapool/DPDimMapTableLabelProvider.java -text
src/de/xwic/etlgine/server/admin/datapool/DPMappingControl.java -text
src/de/xwic/etlgine/server/admin/datapool/DPMappingControl.vtl -text
src/de/xwic/etlgine/server/admin/datapool/DPTableLabelProvider.java -text
src/de/xwic/etlgine/server/admin/datapool/DimensionContentProvider.java -text
src/de/xwic/etlgine/server/admin/datapool/DimensionEditorControl.java -text
src/de/xwic/etlgine/server/admin/datapool/DimensionEditorControl.vtl -text
src/de/xwic/etlgine/server/admin/datapool/DimensionEditorLabelProvider.java -text
src/de/xwic/etlgine/server/admin/datapool/MappingEditorControl.java -text
src/de/xwic/etlgine/server/admin/datapool/MappingEditorControl.vtl -text
src/de/xwic/etlgine/server/admin/datapool/MappingElementEditorControl.java -text
src/de/xwic/etlgine/server/admin/datapool/MappingElementEditorControl.vtl -text
src/de/xwic/etlgine/server/admin/datapool/MappingElementTableLabelProvider.java -text
src/de/xwic/etlgine/server/admin/datapool/XlsDownloadControl.java -text
src/de/xwic/etlgine/server/admin/datapool/XlsDownloadControl.vtl -text
src/de/xwic/etlgine/server/admin/datapool/XlsTemplateTestControl.java -text
src/de/xwic/etlgine/server/admin/datapool/XlsTemplateTestControl.vtl -text
src/de/xwic/etlgine/server/admin/jobs/JobAdminControl.java -text
src/de/xwic/etlgine/server/admin/jobs/JobAdminControl.vtl -text
src/de/xwic/etlgine/server/admin/jobs/JobDetailsControl.java -text
src/de/xwic/etlgine/server/admin/jobs/JobDetailsControl.vtl -text
src/de/xwic/etlgine/server/admin/jobs/JobTableLabelProvider.java -text
src/de/xwic/etlgine/server/spring/ETLgineServerFactoryBean.java -text
src/de/xwic/etlgine/sources/FileSource.java -text
src/de/xwic/etlgine/sources/ZipEntrySource.java -text
src/de/xwic/etlgine/sources/ZipSources.java -text
src/de/xwic/etlgine/transformer/DateTransformer.java -text
src/de/xwic/etlgine/transformer/TrimTransformer.java -text
src/de/xwic/etlgine/trigger/FileLookupTrigger.java -text
src/de/xwic/etlgine/trigger/JobExecutedTrigger.java -text
src/de/xwic/etlgine/trigger/ScheduledFileChangedTrigger.java -text
src/de/xwic/etlgine/trigger/ScheduledTrigger.java -text
src/de/xwic/etlgine/util/Validate.java -text
src_test/de/xwic/etlgine/CubeLoaderTest.java -text
src_test/de/xwic/etlgine/JDBCTest.java -text
src_test/de/xwic/etlgine/ProcessTest.java -text
src_test/de/xwic/etlgine/TestRnd2JDBCFromScriptTest.java -text
src_test/de/xwic/etlgine/TestRndExtractor.java -text
src_test/de/xwic/etlgine/TestRndExtractor2JDBCTest.java -text
src_test/de/xwic/etlgine/TestRndSource.java -text
test/export.csv -text
test/export2.csv -text
test/export3.csv -text
test/jdbc_extract.csv -text
test/source.csv -text
test/source_cube.csv -text
