<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!-- jWic Application '$context.applicationSetup.name' | http://www.jwic.de -->
<html>
<head>
	<title>#if($page.title)$page.title#else $page.name#end</title>
	<META http-equiv="Cache-Control" content="no-cache">
	<META http-equiv="Pragma" content="no-cache">
	<META http-equiv="Expires" content="-1">
	<META http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	
	<script language="JavaScript">
		var _contextPath = "$contextPath";
		var _ajaxMode = $context.applicationSetup.useAjaxRendering;
	</script>

#* prototype js library - tool library required by jWic 4.x *#	
	<SCRIPT LANGUAGE="JavaScript" SRC="$contextPath/jwic/lib/prototype.js"></SCRIPT>
	<SCRIPT LANGUAGE="JavaScript" SRC="$contextPath/jwic/lib/scriptaculous.js"></SCRIPT>
#* Prototype Window Class Library *#
	<SCRIPT LANGUAGE="JavaScript" SRC="$contextPath/jwic/lib/window.js"></SCRIPT>
	<SCRIPT LANGUAGE="JavaScript" SRC="$contextPath/jwic/calendar/calendar.js"></SCRIPT>
	<SCRIPT LANGUAGE="JavaScript" SRC="$contextPath/jwic/jwic_core.js"></SCRIPT>
	<SCRIPT LANGUAGE="JavaScript" SRC="$contextPath/jwic/jwic_controls.js"></SCRIPT>
	<SCRIPT LANGUAGE="JavaScript" SRC="$contextPath/jwic/jwic_compatibility.js"></SCRIPT>
		
	<!-- <link rel="stylesheet" type="text/css" href="$contextPath/jwic/jwic.css"> -->
	<link rel="stylesheet" type="text/css" href="$contextPath/jwic/jwic_compatibility.css">	
	<link rel="stylesheet" type="text/css" href="$contextPath/jwic/jwic_default.css">	
	<link rel="stylesheet" type="text/css" href="$contextPath/jwic/lib/themes/default.css">
	<link rel="stylesheet" type="text/css" href="$contextPath/jwic/lib/themes/jwicdefault.css">		
	<link rel="stylesheet" type="text/css" href="$contextPath/jwic/lib/themes/j-combo.css">		
	<link rel="stylesheet" type="text/css" href="$contextPath/jwic/lib/themes/alphacube.css">	
	
	<SCRIPT LANGUAGE="JavaScript" SRC="$contextPath/jwic/calendar/calendar_localize_${page.getSessionContext().getLocale().getLanguage().toUpperCase()}.js"></SCRIPT>	
	