<table width="100%" style="border-bottom: 1px solid #000000;">
	<tr>
		<td>Log:</td>
	</tr>
	<tr>
		<td><textarea name="_debugLog" rows="10" cols="80" style="font-size: 8pt; font-family: sans-serif"></textarea></td>
	</tr>
</table>
<script language="JavaScript">
	JWic.debugMode = true;
	JWic.log("Debug mode enabled");
</script>
