/** ui-darkness */

/**
 * FileUpload control
 */
.j-fileupload-selectfile {
    background: url(gfx/select_file.png) 0 0 no-repeat; 
	background-position: right;
	border: 1px solid #808080;
}

.j-fileupload-clearfile {
    background: url(gfx/clear_file.png) 0 0 no-repeat; 
	background-position: right;
	border: 1px solid #808080;
}

/**
 * ProgressBar Label
 */
div.j-process-info-bar-label {
	text-shadow: 1px 1px 0 #000;
}

/** 
 * Toolbar Button on hover effect
 */
div.j-toolbar {
	font-weight: bold;
}

div.j-toolbar div.j-toolbar-elm {
	height: 34px;
	padding-left: 3px;
}

div.j-toolbar span.j-toolbar-label {
	font-size: 10pt;
	float: left;
	color: #707070;
	margin-top: 9px;
}
div.j-toolbar button.ui-button {
	height: 32px;
	font-size: 1.1em;
	padding: 2px;
	margin: 0px;
	border: 1px solid transparent;
	background-color: transparent;
	background: none;
}


div.j-toolbar button.ui-button .ui-button-text {
	padding: 0px 6px;
}

div.j-toolbar button.ui-state-hover {
	border: 1px solid #59b4d4; 
	background: #0078a3 url(../jQuery/images/ui-bg_glass_40_0078a3_1x400.png) 50% 50% repeat-x; 
	font-weight: bold; 
	color: #ffffff;
}
div.j-toolbar div.j-spacer {
	width: 1px;
	border-left: 1px solid #888;
	background-color: #000;
	margin: 0px 3px;
	height: 34px;
}
div.j-toolbar div.j-combo {
	margin-top: 5px;
}


/*
 * Column Selector
 */
 
 div.j-listColSel {
		border: 1px solid #A0A0A0;
		background-color: transparent;
		position: relative;
	}
div.j-listColSel div.j-colRow {
		border-bottom: 1px dashed #505050;
		background-color: #202020;
	}
 div.j-listColSel div.j-colRow:hover {
		background-color: #505050;
		background-image: none;
}
 