<div id="header">
  <div id="serverName">$control.serverName</div>
  ETLgine Administrator
</div>
<div id="statusBar">
	<br>
	$insert.control("status")
</div>
$insert.control("breadcrump")
<div id="content">
$insert.control("content")
</div>