<table width="450" cellspacing="5">
	<tr>
		<td width=150">$insert.control("btJobs")</td>
		<td>View the list of registered jobs.</td>
	</tr>
	<tr>
		<td width="150">$insert.control("btDataPools")</td>
		<td>View the list of dataPools, dimensions, measures, cubes, and mappings.</td>
	</tr>
</table>
