<div class="srvStatus">
 <div class="srcStatusHeader">Server-Status</div>
 <div id="srvStatus_$control.controlID" class="srvStatusContent">
 </div>
</div>

<script>
	xetl_StartRefresh("$control.controlID");
</script>