$insert.control("actionBar")
$insert.control("errInfo")
<div class="detailView">
<p>Upload a data file in CSV format. Each specified dimension must occur in the file. The
whole cube is <b>cleared</b> prior to the import. Make sure that you have a proper backup.</p>
<p>Select File: $insert.control("fileUpload")<br>$insert.control("btImport")</p>
</div>