<iframe id="iframe_$control.controlID" src="blank.html" style="visibility: hidden; position:absolute; left: 0px; top: 0px;"></iframe>
<button id="btn_$control.controlID">Show Log</button>
<textarea id="log_$control.controlID" style="width: 100%; height: 200px; display: none;">$control.logInfo</textarea>
